{% extends "base.html" %}
{% block content %}

    {% for item in movies %}
        <h3>{{ item.title }}</h3>
        <table>
            <tr>
                <td>
                    <img src="{{ item.poster }}">
                </td>
                <td>
                    <p>{{ item.year }}<br>
                    {{ item.plot }}<br>
                    <a href="{% url 'delete_movie' item.id %}">Delete</a></p>
                </td>
            </tr>
        </table>
    {% endfor %}

{% endblock %}