{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        {% for item in movies %}
            <div class="movie-container mx-1 mb-3">
                <img src="{{ item.poster }}" class="poster-settings">
                <div class="title-setting">
                    {{ item.title }}
                </div>

                <a href="{% url 'delete_movie' item.id %}" class="btn btn-danger add-movie">Delete</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}