{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-4">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group justify-content-center">
                {{ form|as_bootstrap }}
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary btn-outline-secundary" value="Search">
                </span>
            </div>
        </form>
    </div>
</div>
    
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        {% for result in results %}
        {% if result.Poster != "N/A" %}
            <div class="movie-container mx-1 mb-3">
                <img src="{{ result.Poster }}" class="poster-settings">
                <div class="title-setting">
                    {{ result.Title }}
                </div>

                <form class="form" method="POST" action="{% url 'add_movie' result.imdbID %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary add-movie">Add to List</button>
                </form>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
    
{% endblock %}